@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;

    --grad1: 215, 98%, 61%;
    --grad2: 125, 98%, 72%;
    --grad3: 354, 98%, 61%;
    --grad4: 256, 40%, 94%;
    --grad5: 38, 60%, 74%;
    --grad6: 222, 67%, 73%;
    --grad7: 343, 68%, 79%;

    --shine-degree: 120deg;
    --shine-color: rgba(255, 255, 255, 0.2);
    --shine-effect: linear-gradient(
      var(--shine-degree),
      transparent,
      hsl(0 0% 96.1%),
      transparent
    );
    --shine-transition: all 0.5s ease-in-out;
    --media-brand: 245 245 245;
    --media-focus: 78 156 246;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --grad4: 256, 96%, 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
    font-feature-settings: "rlig" 1, "calt" 1;
    height: 100%;
  }
}

.underline_animation {
  display: inline-block;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.underline_animation::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: hsl(var(--primary));
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.underline_animation:hover::after {
  transform: scaleX(1);
}

.underline_blue {
  display: inline-block;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.underline_blue::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: hsl(var(--primary));
}

.mdx-heading {
  --duration: 1s;
  --ease: cubic-bezier(0.42, 0, 0.58, 1);
  display: inline-block;
  background: linear-gradient(hsl(var(--secondary-foreground)) 0 0)
    calc(100% - var(--p, 0%)) / 0 var(--p, 0%) no-repeat;
  transition: background-size var(--duration) ease-in-out;
}

.mdx-heading:target {
  animation: sweepAnimation var(--duration) ease-in-out forwards;
}

@keyframes sweepAnimation {
  0% {
    --p: 0%;
    color: hsl(var(--secondary-foreground));
    background-size: 0 var(--p, 0%);
  }
  50% {
    --p: 100%;
    color: hsl(var(--secondary));
    background-size: 100% var(--p, 0%);
  }
  100% {
    --p: 200%;
    color: hsl(var(--secondary-foreground));
    background-size: 210% var(--p, 0%);
  }
}

.sweep-hover-animation {
  @apply text-zinc-500 dark:text-zinc-200;
}

.sweep-hover-animation {
  background: linear-gradient(hsl(var(--secondary-foreground)) 0 0) var(--p, 0) /
    var(--p, 0) no-repeat;
  transition: 0.4s, background-position 0s;
}
.sweep-hover-animation:hover {
  --p: 100%;
  color: hsl(var(--secondary));
}

.overlay-img {
  animation: overlayAnimation 3s linear infinite;
}

@keyframes overlayAnimation {
  0% {
    transform: translate(-0.5px, -0.5px);
    opacity: 0.7;
  }
  50% {
    transform: translate(2px, 2px);
    opacity: 0.9;
  }
  100% {
    transform: translate(-0.5px, -0.5px);
    opacity: 0.7;
  }
}

*::-webkit-scrollbar {
  width: 0.25rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 0.5rem;
  border-radius: 100vw;
}

*::-webkit-scrollbar-thumb {
  background: hsl(var(--accent));
  border-radius: 25vw;
}

::-moz-selection {
  color: hsl(var(--secondary));
  background: hsl(var(--accent));
}

::selection {
  color: hsl(var(--secondary));
  background: hsl(var(--accent));
}

.line-vertical {
  background: linear-gradient(
    hsl(var(--accent-foreground)),
    hsl(var(--secondary-foreground)),
    hsl(var(--primary-foreground))
  );
}

.line-horizontal {
  background: linear-gradient(
    to right,
    hsl(var(--accent-foreground)),
    hsl(var(--secondary-foreground)),
    hsl(var(--primary-foreground))
  );
}

.shine {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--shine-effect);
  }
}

.shine-hover {
  &::before {
    left: -100%;
    transition: var(--shine-transition);
  }

  &:hover {
    box-shadow: var(--btn-shadow);

    &::before {
      left: 100%;
    }
  }
}

.shine-anim {
  &::before {
    animation: shine 3s ease-in-out infinite;
  }
}

@keyframes shine {
  0% {
    left: -100%;
    transition-property: left;
  }
  20%,
  100% {
    left: 100%;
    transition-property: left;
  }
}

.icon-glow {
  background: radial-gradient(
      at 27% 37%,
      hsl(var(--grad2)) 0px,
      transparent 100%
    ),
    radial-gradient(at 97% 21%, hsl(var(--grad4)) 0px, transparent 100%);
}

.icon-glow-muted {
  background: radial-gradient(
      at 27% 37%,
      hsl(var(--primary)) 0px,
      transparent 100%
    ),
    radial-gradient(at 97% 21%, hsl(var(--muted)) 0px, transparent 100%);
}

.icon-glow-muted-light {
  background: radial-gradient(
      at 97% 21%,
      hsl(var(--muted-foreground)) 0px,
      transparent 100%
    ),
    radial-gradient(
      at 27% 37%,
      hsl(var(--secondary-foreground)) 0px,
      transparent 100%
    );
}

.line {
  background: linear-gradient(
    hsl(var(--grad1)),
    hsl(var(--grad2)),
    hsl(var(--background))
  );
  width: 2px;
}

.btn-gradient {
  background-image: radial-gradient(
    ellipse at center,
    hsl(var(--background)) 10%,
    hsl(var(--grad1)) 500%
  );
  background-size: 100% 100%;
  transition: all 0.3s ease-in-out;
}

.border-gradient {
  border: 0.2px solid;
  border-image-slice: 1;
  border-width: 0.2px;
}

.only-bottom {
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.only-top {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.nothing {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
}

/* Tailwind Styles */

.app {
  @apply relative flex flex-col overflow-x-hidden max-w-7xl mx-3 md:mx-2 lg:mx-auto;
}

.blogs-container {
  @apply overflow-x-hidden max-w-5xl mx-3 lg:mx-auto;
}

.head-text {
  @apply text-4xl font-extrabold font-heading leading-[1.15] sm:text-7xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-sky-500 to-teal-500 bg-clip-text text-transparent;
}

.primary-gradient {
  @apply bg-gradient-to-b from-primary to-muted-foreground bg-clip-text text-transparent;
}

.gray_gradient {
  @apply bg-gradient-to-r from-gray-500 to-zinc-500 dark:from-slate-400 dark:to-zinc-400 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg sm:text-xl max-w-2xl;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.wave-emoji {
  @apply animate-bounce;
}
