@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 42 100% 95%;
  --foreground: 42 5% 0%;
  --card: 42 50% 90%;
  --card-foreground: 42 5% 10%;
  --popover: 42 100% 95%;
  --popover-foreground: 42 100% 0%;
  --primary: 42 19.6% 80%;
  --primary-foreground: 0 0% 0%;
  --secondary: 53 70% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 4 30% 85%;
  --muted-foreground: 42 5% 35%;
  --accent: 4 30% 80%;
  --accent-foreground: 42 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 42 5% 90%;
  --border: 42 30% 50%;
  --input: 42 30% 18%;
  --ring: 42 19.6% 80%;
  --radius: 0rem;
}
.dark {
  --background: 42 50% 5%;
  --foreground: 42 5% 90%;
  --card: 42 50% 0%;
  --card-foreground: 42 5% 90%;
  --popover: 42 50% 5%;
  --popover-foreground: 42 5% 90%;
  --primary: 42 19.6% 80%;
  --primary-foreground: 0 0% 0%;
  --secondary: 42 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 4 30% 15%;
  --muted-foreground: 42 5% 60%;
  --accent: 4 30% 15%;
  --accent-foreground: 42 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 42 5% 90%;
  --border: 42 30% 18%;
  --input: 42 30% 18%;
  --ring: 42 19.6% 80%;
  --radius: 0rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
    font-feature-settings: "rlig" 1, "calt" 1;
    height: 100%;
  }
}

.icon-glow-muted {
  width: 10px;
  height: 10px;
  background-color: hsl(var(--accent));
  border-radius: 50%;
}

.underline_animation {
  display: inline-block;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.underline_animation::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: hsl(var(--primary));
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.underline_animation:hover::after {
  transform: scaleX(1);
}

.mdx-heading {
  --duration: 1s;
  --ease: cubic-bezier(0.42, 0, 0.58, 1);
  display: inline-block;
  background: linear-gradient(hsl(var(--secondary-foreground)) 0 0)
    calc(100% - var(--p, 0%)) / 0 var(--p, 0%) no-repeat;
  transition: background-size var(--duration) ease-in-out;
}

.mdx-heading:target {
  animation: sweepAnimation var(--duration) ease-in-out forwards;
}

@keyframes sweepAnimation {
  0% {
    --p: 0%;
    color: hsl(var(--secondary-foreground));
    background-size: 0 var(--p, 0%);
  }
  50% {
    --p: 100%;
    color: hsl(var(--secondary));
    background-size: 100% var(--p, 0%);
  }
  100% {
    --p: 200%;
    color: hsl(var(--secondary-foreground));
    background-size: 210% var(--p, 0%);
  }
}

.sweep-hover-animation {
  @apply text-zinc-500 dark:text-zinc-200;
}

.sweep-hover-animation {
  background: linear-gradient(hsl(var(--secondary-foreground)) 0 0) var(--p, 0) /
    var(--p, 0) no-repeat;
  transition: 0.4s, background-position 0s;
}
.sweep-hover-animation:hover {
  --p: 100%;
  color: hsl(var(--secondary));
}

*::-webkit-scrollbar {
  width: 0.25rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 0.5rem;
  border-radius: 100vw;
}

*::-webkit-scrollbar-thumb {
  background: hsl(var(--accent));
  border-radius: 25vw;
}

::-moz-selection {
  color: hsl(var(--secondary));
  background: hsl(var(--accent));
}

::selection {
  color: hsl(var(--secondary));
  background: hsl(var(--accent));
}

.navbar-clip {
  position: relative;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 20px,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    20px 100%,
    0 calc(100% - 20px),
    0 20px
  );
  background: hsl(var(--accent));
}

.navbar-clip-border {
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 18px,
    100% calc(100% - 18px),
    calc(100% - 18px) 100%,
    18px 100%,
    0 calc(100% - 18px),
    0 18px
  );
  background: hsl(var(--card));
  z-index: -1;
}

.navbar-clip-content {
  position: relative;
  z-index: 2;
}

/* Tailwind Styles */

.app {
  @apply relative flex flex-col overflow-x-hidden lg:mx-auto px-2 lg:px-0;
}

.blogs-container {
  @apply overflow-x-hidden max-w-5xl mx-3 lg:mx-auto;
}

.head-text {
  @apply text-4xl font-extrabold font-heading leading-[1.15] md:text-6xl sm:text-7xl;
}

.head-text-md {
  @apply text-3xl font-extrabold font-heading leading-[1.15] sm:text-5xl;
}

.desc {
  @apply mt-5 text-lg sm:text-xl max-w-2xl;
}

.abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.abs-center-horizontal {
  @apply absolute left-1/2 -translate-x-1/2;
}

.abs-center-vertical {
  @apply absolute top-1/2 -translate-y-1/2;
}

.sticky-center-horizontal {
  @apply sticky;
}
